/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
} */

body {
  background-color: #e6f3ff;
  font-family: Arial, Helvetica, sans-serif;
}

.card-container {
  background-color: #ffff;
  border-radius: 6px;
  overflow: hidden;
  max-width: 300px;
  margin: 100px auto;
  box-shadow: 0 10px 40px -14px rgba(135, 144, 158, .6), 0 10px 40px -10px rgba(135, 144, 158, 0.6);
}

main {
  padding: 22px 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}